[submodule "rusky-request"]
	path = rusky-request
  url = https://github.com/Brayan-724/rusky-request.git
  branch = main
[submodule "rusky-icons"]
	path = rusky-icons
	url = https://github.com/Brayan-724/rusky-icons.git
